<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinatower.product.legalms.modules.cases.mapper.FileShareVOMapper">
    <resultMap id="BaseResultMap" type="com.chinatower.product.legalms.modules.cases.entity.FileShareVO">
        <id column="file_share_id" property="fileShareId" jdbcType="VARCHAR" />
        <result column="file_type" property="fileType" jdbcType="BIGINT" />
        <result column="file_share_business_key" property="fileShareBusinessKey" jdbcType="VARCHAR" />
        <result column="file_share_type" property="fileShareType" jdbcType="VARCHAR" />
        <result column="file_share_status_upd_user_id" property="fileShareStatusUpdUserId" jdbcType="VARCHAR" />
        <result column="file_order" property="fileOrder" jdbcType="BIGINT" />
        <result column="file_share_status" property="fileShareStatus" jdbcType="VARCHAR" />
        <result column="file_share_status_upd_time" property="fileShareStatusUpdTime" jdbcType="TIMESTAMP" />
        <result column="file_remark" property="fileRemark" jdbcType="VARCHAR" />
        <result column="file_id" property="fileId" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="filemain" type="com.chinatower.product.legalms.modules.cases.entity.FileMainVO">
        <id column="file_id" property="fileId" jdbcType="VARCHAR" />
        <result column="file_extension" property="fileExtension" jdbcType="VARCHAR" />
        <result column="file_http_url" property="fileHttpUrl" jdbcType="VARCHAR" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="file_remark" property="fileRemark" jdbcType="VARCHAR" />
        <result column="file_status" property="fileStatus" jdbcType="VARCHAR" />
        <result column="file_status_update_time" property="fileStatusUpdateTime" jdbcType="TIMESTAMP" />
        <result column="file_upload_app_id" property="fileUploadAppId" jdbcType="VARCHAR" />
        <result column="file_upload_time" property="fileUploadTime" jdbcType="TIMESTAMP" />
        <result column="visibility_level" property="visibilityLevel" jdbcType="VARCHAR" />
        <result column="file_upload_user_id" property="fileUploadUserId" jdbcType="VARCHAR" />
        <result column="file_length" property="fileLength" jdbcType="VARCHAR"/>
        <association property="fileShareVO" javaType="com.chinatower.product.legalms.modules.cases.entity.FileShareVO">
            <id column="file_share_id" property="fileShareId" jdbcType="VARCHAR" />
            <result column="file_type" property="fileType" jdbcType="BIGINT" />
            <result column="file_share_business_key" property="fileShareBusinessKey" jdbcType="VARCHAR" />
            <result column="file_share_type" property="fileShareType" jdbcType="VARCHAR" />
            <result column="file_share_status_upd_user_id" property="fileShareStatusUpdUserId" jdbcType="VARCHAR" />
            <result column="file_order" property="fileOrder" jdbcType="BIGINT" />
            <result column="file_share_status" property="fileShareStatus" jdbcType="VARCHAR" />
            <result column="file_share_status_upd_time" property="fileShareStatusUpdTime" jdbcType="TIMESTAMP" />
            <result column="file_remark" property="fileRemark" jdbcType="VARCHAR" />
            <result column="file_id" property="fileId" jdbcType="VARCHAR" />
        </association>
    </resultMap>
    <insert id="insertFileShare" parameterType="com.chinatower.product.legalms.modules.cases.entity.FileShareVO">
    insert into t_file_share (
           file_share_id,file_type,file_share_business_key,file_share_type,file_share_status_upd_user_id,file_order,
                file_share_status,file_share_status_upd_time,file_remark,file_id)
       values (
            #{fileShareId},#{fileType},#{fileShareBusinessKey},#{fileShareType},#{fileShareStatusUpdUserId},#{fileOrder},
                #{fileShareStatus},#{fileShareStatusUpdTime},#{fileRemark},#{fileId})
  </insert>

    <select id="selectFileById" resultMap="filemain">
        select
          f.*, t.*
        from t_file_main f left join t_file_share t on f.file_id = t.file_id
        where t.file_share_business_key = #{caseId} and t.file_share_type=#{shareType}
    </select>

    <delete id="deleteByCase">
        delete from t_file_share t
        where t.file_share_business_key = #{caseId} and t.file_share_type=#{shareType}
    </delete>

</mapper>