<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.chinatower.product.legalms.modules.flow.mapper.flow.TFlowMainMapper">
	<resultMap id="BaseResultMap"
		type="com.chinatower.product.legalms.modules.flow.entity.flow.TFlowMain">
		<id column="flow_id" jdbcType="BIGINT" property="flowId" />
		<result column="flow_name" jdbcType="VARCHAR"
			property="flowName" />
		<result column="flow_status" jdbcType="VARCHAR"
			property="flowStatus" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="create_user_id" jdbcType="VARCHAR"
			property="createUserId" />
		<result column="create_user_name" jdbcType="VARCHAR"
			property="createUserName" />
		<result column="approve_item_id" jdbcType="VARCHAR"
			property="approveItemId" />
		<result column="approve_item_name" jdbcType="VARCHAR"
			property="approveItemName" />
		<result column="approve_item_type" jdbcType="VARCHAR"
			property="approveItemType" />
		<result column="module_name" jdbcType="VARCHAR"
				property="moduleName" />
		<result column="version_id" jdbcType="INTEGER"
				property="versionId" />
	</resultMap>
	<sql id="Base_Column_List">
		flow_id, flow_name, flow_status, create_time, create_user_id,
		create_user_name, approve_item_id,approve_item_name,
		approve_item_type,module_name,version_id
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_flow_main
		where flow_id = #{flowId,jdbcType=BIGINT}
	</select>
	<select id="selectList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_flow_main
	</select>
    <select id="selectByBusinessId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_flow_main
		where approve_item_id = #{id}
	</select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_flow_main
		where flow_id = #{flowId,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
		parameterType="com.chinatower.product.legalms.modules.flow.entity.flow.TFlowMain">
		insert into t_flow_main (flow_id, flow_name, flow_status,
		create_time, create_user_id, create_user_name,
		approve_item_id,approve_item_name, approve_item_type, module_name, version_id)
		values (#{flowId,jdbcType=BIGINT}, #{flowName,jdbcType=VARCHAR},
		#{flowStatus,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR},
		#{approveItemId,jdbcType=VARCHAR},
		#{approveItemName,jdbcType=VARCHAR},
		#{approveItemType,jdbcType=VARCHAR},
		#{moduleName,jdbcType=VARCHAR}),
		#{versionId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="com.chinatower.product.legalms.modules.flow.entity.flow.TFlowMain">
		insert into t_flow_main
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="flowId != null">
				flow_id,
			</if>
			<if test="flowName != null">
				flow_name,
			</if>
			<if test="flowStatus != null">
				flow_status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="createUserName != null">
				create_user_name,
			</if>
			<if test="approveItemId != null">
				approve_item_id,
			</if>
			<if test="approveItemName != null">
				approve_item_name,
			</if>
			<if test="approveItemType != null">
				approve_item_type,
			</if>
			<if test="moduleName != null">
				module_name,
			</if>
			<if test="versionId != null">
				version_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="flowId != null">
				#{flowId,jdbcType=BIGINT},
			</if>
			<if test="flowName != null">
				#{flowName,jdbcType=VARCHAR},
			</if>
			<if test="flowStatus != null">
				#{flowStatus,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createUserName != null">
				#{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="approveItemId != null">
				#{approveItemId,jdbcType=VARCHAR},
			</if>
			<if test="approveItemName != null">
				#{approveItemName,jdbcType=VARCHAR},
			</if>
			<if test="approveItemType != null">
				#{approveItemType,jdbcType=VARCHAR},
			</if>
			<if test="moduleName != null">
				#{moduleName,jdbcType=VARCHAR},
			</if>
			<if test="versionId != null">
				#{versionId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.chinatower.product.legalms.modules.flow.entity.flow.TFlowMain">
		update t_flow_main
		<set>
			<if test="flowName != null">
				flow_name = #{flowName,jdbcType=VARCHAR},
			</if>
			<if test="flowStatus != null">
				flow_status = #{flowStatus,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createUserName != null">
				create_user_name = #{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="approveItemId != null">
				approve_item_id = #{approveItemId,jdbcType=VARCHAR},
			</if>
			<if test="approveItemName != null">
				approve_item_name = #{approveItemName,jdbcType=VARCHAR},
			</if>
			<if test="approveItemType != null">
				approve_item_type = #{approveItemType,jdbcType=VARCHAR},
			</if>
			<if test="moduleName != null">
				module_name = #{moduleName,jdbcType=VARCHAR},
			</if>
			<if test="versionId != null">
				version_id = #{versionId,jdbcType=INTEGER},
			</if>
		</set>
		where flow_id = #{flowId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.chinatower.product.legalms.modules.flow.entity.flow.TFlowMain">
		update t_flow_main
		<set>
			<if test="flowName != null">
				flow_name = #{flowName,jdbcType=VARCHAR},
			</if>
			<if test="flowStatus != null">
				flow_status = #{flowStatus,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createUserName != null">
				create_user_name = #{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="approveItemId != null">
				approve_item_id = #{approveItemId,jdbcType=VARCHAR},
			</if>
			<if test="approveItemName != null">
				approve_item_name = #{approveItemName,jdbcType=VARCHAR},
			</if>
			<if test="approveItemType != null">
				approve_item_type = #{approveItemType,jdbcType=VARCHAR},
			</if>
			<if test="moduleName != null">
				module_name = #{moduleName,jdbcType=VARCHAR}
			</if>
			<if test="versionId != null">
				version_id = #{versionId,jdbcType=VARCHAR}
			</if>
		</set>
		where flow_id = #{flowId,jdbcType=BIGINT}
	</update>
	<insert id="addRelationship" parameterType="com.chinatower.product.legalms.modules.flow.vo.common.RelationshipVO">
		insert into t_case_relationship
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="caseId != null" > case_id, </if>
			<if test="businessId != null" > business_id, </if>
			<if test="businessType != null" > business_type, </if>
			<if test="tittle != null">tittle, </if>
			<if test="code != null">code, </if>
			<if test="moduleName != null">module_name </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="caseId != null" > #{caseId,jdbcType=VARCHAR}, </if>
			<if test="businessId != null" > #{businessId,jdbcType=VARCHAR}, </if>
			<if test="businessType != null" > #{businessType,jdbcType=VARCHAR}, </if>
			<if test="tittle != null" > #{tittle,jdbcType=VARCHAR}, </if>
			<if test="code != null" > #{code,jdbcType=VARCHAR}, </if>
			<if test="moduleName != null" > #{moduleName,jdbcType=VARCHAR}, </if>
		</trim>
	</insert>
	<!--关联表修改-->
	<update id="updateRelationship" parameterType="com.chinatower.product.legalms.modules.flow.vo.common.RelationshipVO">
		update t_case_relationship
		set
		case_id = #{caseId,jdbcType=VARCHAR},
		business_id = #{businessId,jdbcType=VARCHAR},
		business_type = #{businessType,jdbcType=VARCHAR},
		tittle = #{tittle,jdbcType=VARCHAR},
		code = #{code,jdbcType=VARCHAR},
		module_name = #{moduleName,jdbcType=VARCHAR}
		where business_id =
		#{businessId,jdbcType=VARCHAR}
	</update>
</mapper>